---
import Base from '../layouts/Base.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import Profiles from '../components/Profiles.astro';
import About from '../components/About.astro';
import Experience from '../components/Experience.astro';
import Projects from '../components/Projects.astro';
import Skills from '../components/Skills.astro';
import Education from '../components/Education.astro';
import Contact from '../components/Contact.astro';
---
<Base>
  <Nav />
  <main>
    <Hero />
    <Profiles />
    <About />
    <Experience />
    <Projects />
    <Skills />
    <Education />
    <Contact />
  </main>
</Base>
